.selected-exam {
  width: 95vw;
  border: 2px dashed #1D6DBD;
  margin: 0 auto;
  /* box-shadow: 2px 2px 8px rgba(0,0,0,0.3); */
  padding: 10px 20px;
  position: relative;
  margin-top: 20px;
}

.selected-exam div {
  display: flex;
  align-items: center;
}

.selected-exam img {
  width: 30px;
}

.selected-exam span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.selected-exam-title {
  margin-bottom: 3px;
}

.selected-exam p {
  margin-top: 0px;
  margin-bottom: 3px;
}

.selected-exam-subject-name {
  font-weight: 600;
}

.selected-exam .change-subject {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color:#323234
}

.change-subject svg {
  font-size: 1.5rem;
}

.change-subject:hover {
  color: #1D6DBD;
}

